extends ../base.jade
block principal
    .alert.alert-info #{error.texto}
    div.container
        div.btn-group.group.pull-right
            a.btn.btn-info(href='javascript:history.go(-1)') Regresar
            //errores mayores de bd, contacte al administrador y escribe en un archivo el error.