body {
	height: 100%;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.bg-color{
	background-color:#267257;
}

.footer {
	position:absolute;
	bottom:0;
   	width:100%;
   	height:30px;
   }
.copy{
	font-size: 1em;
}

a.remove_hand{cursor: default;text-decoration: none}